<h2 style="text-align: center;">Description</h2>

<p>As you can see from the previous stage, we need to find a way to get a response code from the URL in the user's browser. By default, Java doesn't have browser capabilities but has opportunities to create your own simple HTTP server.</p>
<h3>What is HTTP</h3>
<p>HTTP means <a href="https://en.wikipedia.org/wiki/Hypertext_Transfer_Protocol" rel="nofollow noopener noreferrer">Hypertext Transfer Protocol</a>, which is a stateless data transfer protocol based on client-server technology, where messaging occurs according to the request-response scheme. The main manipulation object is the resource pointed to by the URI. Every time when you need to make HTTP request, follow this structure:</p>

<p>A request line</p>

<pre><code class="language-no-highlight">method_name URI HTTP/version</code></pre>

<p>Example</p>

<pre><code class="language-no-highlight">GET /some/uri HTTP/1.1
</code></pre>

<p>There are a lot of HTTP methods, but in this project, we will consider two of them:</p>

<p>GET - The GET method requests a representation of the specified resource. Requests using GET should only retrieve data and should have no other effect.</p>

<p>POST - The POST method requests that the server accept the entity enclosed in the request as a new subordinate of the web resource identified by the URI.</p>

<p>And the response looks like this:<br>
  A response line</p>

<pre><code class="language-no-highlight">HTTP/version status_code message</code></pre>

<p>Example</p>

<pre><code class="language-no-highlight">HTTP/1.1 200 OK</code></pre>

<h3>Creating a Server in java</h3>

<p><code>com.sun.net.httpserver</code> package included in Java SE contains classes, which could help us.</p>

<p>The main class is <code>HttpServer</code>. This class implements a simple HTTP server. To create an instance of this class, you need to use static factory method "create" and bind it to IP and port</p>

<pre><code class="language-java">HttpServer server = HttpServer.create();
server.bind(new InetSocketAddress(8080), 0);</code></pre>

<p>These lines will create an http server that will listen for incoming TCP connections from clients on 8080 port. Another main concept is context. When an HTTP request is received, the appropriate <code>HttpContext</code> (and handler) is located by finding the context whose path is the longest matching prefix of the request URI's path. To create the context you should use method <code>createContext</code> and pass a string of URI path and handler that implements <code>HttpHandler</code> interface</p>

<pre><code class="language-java">server.createContext("/",
    new HttpHandler() {    
        public void handle(HttpExchange exchange) throws IOException {
            String hello = "hello, world";
            exchange.sendResponseHeaders(200, hello.length());
            exchange.getResponseBody().write(hello.getBytes());
            exchange.getResponseBody().close();
        }
    }
); </code></pre>

<p>The lines above will create a context to which all requests will be redirected by the server, and the context handler will always return "hello world".</p>

<p>To start the server add the line
<code>server.start()</code>.
And use the command
<code>server.stop(1)</code> to shutdown the server.
1 here is the maximum delay in seconds to wait until all handlers have finished.
</p>

<p>If you try to run it, you can open your browser at <code>localhost:8080</code>, and you will see this message.</p>

<p>In this stage you will receive a query parameter with the authorization code from the spotify page. It looks like <code>http:localhost:8080?code=123</code>. To get the query inside the <code>HttpExchange</code> handler, you can use the following line:</p>
<pre><code class="language-java">String query = exchange.getRequestURI().getQuery();
</code></pre>

<h3>Making HTTP requests in java</h3>

<p>JDK 11 provides a few classes in <code>java.net.http</code> package to make HTTP requests. You can read more about them <a href="http://openjdk.java.net/groups/net/httpclient/" rel="nofollow noopener noreferrer">here</a>.

First you should create an <code>HttpClient</code> instance:
<pre><code class="language-java">HttpClient client = HttpClient.newBuilder().build();</code></pre>

Then you should setup the http request by creating an <code>HttpRequest</code> instance. It supports the Builder pattern, so you should just call <code>HttpRequest.newBuilder()</code>, then add some methods to setup your request and then call a <code>build()</code> method to create it. Here is an example how to create a simple GET request:
<pre><code class="language-java">HttpRequest request = HttpRequest.newBuilder()
        .uri(URI.create("http://localhost:8080"))
        .GET()
        .build();
</code></pre>
To send the request you should use the <code>client</code> instance:
<pre><code class="language-java">HttpResponse&lt;String&gt; response = client.send(request, HttpResponse.BodyHandlers.ofString());

System.out.println(response.body());
</code></pre>
<p>This code will print "hello, world", if it connects to the server from the section above.</p>

<p>In this task you will create a POST request, to get the spotify access token. The main difference between GET and POST request is that POST request may contain a body with some data. It may be a file, json, xml or other format. You should set the type of data with "Content-type" header. This example shows how to send a POST request with data in the format "application/x-www-form-urlencoded":</p>
<pre><code class="language-java">HttpRequest request = HttpRequest.newBuilder()
                .header("Content-Type", "application/x-www-form-urlencoded")
                .uri(URI.create("http://localhost:8080"))
                .POST(HttpRequest.BodyPublishers.ofString("login=admin&password=admin"))
                .build();
</code></pre>
<p>You should put the body data inside the <code>POST()</code> method, using the <code>HttpRequest.BodyPublishers.ofString</code> method. "x-www-form-urlencoded" data consists of pairs <code>key=value</code>, separated with &amp; symbol. Similarly you can send json data by setting "Content-type" as "application/json" and passing json inside the <code>ofString()</code> method.</p>


<h3>What should you do</h3>

<p>Using the <a href="https://developer.spotify.com/documentation/general/guides/authorization-guide/" rel="nofollow noopener noreferrer">spotify authorization guide</a> and the information given here (you need the section <i>Authorization Code Flow</i>), improve your program by adding real authorization on Spotify.</p>

<p>You should do the following steps:</p>
<ol>
<li>Choose any free port on your machine (for example 8080), and add the <code>http://localhost:your_port</code> to the whitelist of redirect_uri in your application settings on the spotify site. (<a href="https://developer.spotify.com/dashboard" rel="nofollow noopener noreferrer">Dashboard</a> -> your app -> edit settings -> redirect URIs)</li>
    <li>On the <code>auth</code> command, before printing the auth link (from the previous stage), you should start an HTTP server that will listen for incoming requests. When the user confirms or rejects the authorization, the server should return the following text to the browser:
        <ul>
            <li><i>"Got the code. Return back to your program."</i> - if the query contains the authorization code.</li>
            <li><i>"Not found authorization code. Try again."</i> - otherwise.</li>
        </ul>
        This code is bound to each user, who has a spotify account and uses your app. Actually you should ask this code once for each new user and save it somewhere.
    </li>
    <li>After the code is received, the server must shut down and you should get <code>access_token</code> by making a POST request on <code>https://accounts.spotify.com/api/token</code> with parameters described in the guide, and then print the response body. </li>
</ol>

<p>Also, in this stage, you should read the spotify access server point from the command line argument. Server path should be passed to the program using <code>-access</code> argument. If this argument is not set you should use default argument - <code>https://accounts.spotify.com</code>. Make sure you replace constants to this argument value everywhere!</p>

<h2 style="text-align: center;">Output example</h2>

<p>Below is an output example of the described program. Try to output all cases like in the example.<br>
  The lines that start with <code>&gt;</code> represent the user input.</p>

<pre><code class="language-no-highlight">&gt; new
Please, provide access for application.
&gt; auth
use this link to request the access code:
https://accounts.spotify.com/authorize?client_id=a19ee7dbfda443b2a8150c9101bfd645&redirect_uri=http://localhost:8080&response_type=code
waiting for code...
code received
making http request for access_token...
response:
{"access_token":"BQBSZ0CA3KR0cf0LxmiNK_E87ZqnkJKDD89VOWAZ9f0QXJcsCiHtl5Om-EVhkIfwt1AZs5WeXgfEF69e4JxL3YX6IIW9zl9WegTmgLkb4xLXWwhryty488CLoL2SM9VIY6HaHgxYxdmRFGWSzrgH3dEqcvPoLpd26D8Y","token_type":"Bearer","expires_in":3600,"refresh_token":"AQCSmdQsvsvpneadsdq1brfKlbEWleTE3nprDwPbZgNSge5dVe_svYBG-RG-_PxIGxVvA7gSnehFJjDRAczLDbbdWPjW1yUq2gtKbbNrCQVAH5ZBtY8wAYskmOIW7zn3IEiBzg","scope":""}
---SUCCESS---
&gt; new
---NEW RELEASES---
Mountains [Sia, Diplo, Labrinth]
Runaway [Lil Peep]
The Greatest Show [Panic! At The Disco]
All Out Life [Slipknot]
&gt; exit
---GOODBYE!---</code></pre>

